---
layout: default
---
<div class="hero">
  <h1 class="title">高民权（Minchiuan）的博客</h1>
  <a title="subscribe Udacity China blog" href="/feed.xml" class="rss-link">
    <i class="rss wc-img-replace">icon</i>
    <span>SUBSCRIBE</span>
  </a>
</div>
<div id="home">
  <div class="page-content wc-container">
    <div class="posts">
        {% assign sorted_posts = site.posts | sort: 'score' | reverse %}
        {% for post in sorted_posts limit:50 %}
          <div class="post">
            <h3 class="post-title">
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                {{ post.title }}
              </a>
            </h3>
            <p class="post-meta">
              {% if (post.tags.size > 0 %}
              <span class="tags">
              {{ post.tags | join: ',' }}
              </span> |
              {% endif %}
              <span class="post-date">
              {{ post.date | date: "%b %-d, %Y" }}
              </span>
              {% if post.author %}
                {% for author in post.author %}
                  {% if author.link %}
                      <span>By </span>
                      <a href="{{author.link}}" target="_blank">{{author.name}}</a>
                  {% else %}
                    <span>By {{ author.name }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </p>
            <p>
              {{ post.excerpt }}
            </p>
            <p>
              <a class="decoration" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.title}}">
                点击阅读(More)
            </a>
            </p>
          </div>
        {% endfor %}
    </div>
  </div>
  {% include categories.html %}
</div>
