<h2>My Skills Tree</h2>
<section class="tech">
    <div class = "item">
        <div class = "describe">
            Data Mining
        </div>
        <div class="progress">
            <span class="yellow" style="width: 55%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            ML
        </div>
        <div class="progress">
            <span class="yellow" style="width: 50%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Python
        </div>
        <div class="progress">
            <span class="grey" style="width: 90%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="green" style="width: 70%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 75%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Scheme
        </div>
        <div class="progress">
            <span class = "green" style="width: 50%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Git
        </div>
        <div class="progress">
            <span class="red" style="width: 80%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Emacs
        </div>
        <div class="progress">
            <span class="green" style="width: 40%;"></span>
        </div>
    </div>

    <div class = "item">
        <div class = "describe">
            Vim
        </div>
        <div class="progress">
            <span class="darkblue" style="width: 85%;"></span>
        </div>
    </div>

</section>
